body {
    background-color: #696969;
    padding: 20px;
    margin: 0;
}

.title {
    color: #fff;
}

ul.header {
    background-color: #ff8c00;
    padding: 0;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #ffffff;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}